#  Data Hits Fusion

In this notebook, all datasets obtained according to jupyter notebook 1 will merge.

The process is the following:

First time
1. Read dataset
2. We check the date of the last data in de dataframe to see if it is correct.

Next times
1. Read dataset
2. We choose the data after the date of the previous dataframe to be concatenated
3. Filtered data is concatenated with the previous dataframe
4. We check the date of the last data in the dataframe to see if the concatenation is correct.

In [1]:
import pandas as pd
import numpy as np

### Dataframe 2000

In [3]:
df_00 = pd.read_csv ("../Data/top_100_Billboard_2000.csv")

In [4]:
df_00.iloc[-1]['date_chart']

'2000-12-30'

### Dataframe 2001

In [5]:
df_01 = pd.read_csv ("../Data/top_100_Billboard_2001.csv")

In [6]:
frames = [df_00, df_01.loc[df_01["date_chart"] > df_00.iloc[-1]['date_chart']]]

In [7]:
df_hits = pd.concat(frames)

In [8]:
df_hits.iloc[-1]['date_chart']

'2002-01-05'

### Dataframe 2002

In [9]:
df_02 = pd.read_csv ("../Data/top_100_Billboard_2002.csv")

In [10]:
df_02.iloc[0]['date_chart']

'2002-01-05'

In [11]:
frames = [df_hits, df_02.loc[df_02["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [12]:
df_hits = pd.concat(frames)

In [13]:
df_hits.iloc[-1]['date_chart']

'2003-01-04'

## Dataframe 2003

In [14]:
df_03 = pd.read_csv ("../Data/top_100_Billboard_2003.csv")

In [15]:
df_03.iloc[0]['date_chart']

'2003-01-04'

In [16]:
frames = [df_hits, df_03.loc[df_03["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [17]:
df_hits = pd.concat(frames)

In [18]:
df_hits.iloc[-1]['date_chart']

'2004-01-03'

### Dataframe 2004

In [19]:
df_04 = pd.read_csv ("../Data/top_100_Billboard_2004.csv")

In [20]:
df_04.iloc[0]['date_chart']

'2000-01-01'

In [21]:
frames = [df_hits, df_04.loc[df_04["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [22]:
df_hits = pd.concat(frames)

In [23]:
df_hits.iloc[-1]['date_chart']

'2004-01-03'

### Dataframe 2005

In [24]:
df_05 = pd.read_csv ("../Data/top_100_Billboard_2005.csv")

In [25]:
df_05.iloc[0]['date_chart']

'2005-01-01'

In [26]:
frames = [df_hits, df_05.loc[df_05["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [27]:
df_hits = pd.concat(frames)

In [28]:
df_hits.iloc[-1]['date_chart']

'2005-12-31'

### Dataframe 2006

In [29]:
df_06 = pd.read_csv ("../Data/top_100_Billboard_2006.csv")

In [30]:
df_06.iloc[0]['date_chart']

'2006-01-07'

In [31]:
frames = [df_hits, df_06.loc[df_06["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [32]:
df_hits = pd.concat(frames)

In [33]:
df_hits.iloc[-1]['date_chart']

'2007-01-06'

### Dataframe 2007

In [34]:
df_07 = pd.read_csv ("../Data/top_100_Billboard_2007.csv")

In [35]:
df_07.iloc[0]['date_chart']

'2007-01-06'

In [36]:
frames = [df_hits, df_07.loc[df_07["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [37]:
df_hits = pd.concat(frames)

In [38]:
df_hits.iloc[-1]['date_chart']

'2008-01-05'

### Dataframe 2008

In [39]:
df_08 = pd.read_csv ("../Data/top_100_Billboard_2008.csv")

In [40]:
df_08.iloc[0]['date_chart']

'2008-01-05'

In [41]:
frames = [df_hits, df_08.loc[df_08["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [42]:
df_hits = pd.concat(frames)

In [43]:
df_hits.iloc[-1]['date_chart']

'2009-01-03'

### Dataframe 2009

In [44]:
df_09 = pd.read_csv ("../Data/top_100_Billboard_2009.csv")

In [45]:
df_09.iloc[0]['date_chart']

'2009-01-03'

In [46]:
frames = [df_hits, df_09.loc[df_09["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [47]:
df_hits = pd.concat(frames)

In [48]:
df_hits.iloc[-1]['date_chart']

'2010-01-02'

### Dataframe 2010

In [49]:
df_10 = pd.read_csv ("../Data/top_100_Billboard_2010.csv")

In [50]:
df_10.iloc[0]['date_chart']

'2010-01-02'

In [51]:
frames = [df_hits, df_10.loc[df_10["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [52]:
df_hits = pd.concat(frames)

In [53]:
df_hits.iloc[-1]['date_chart']

'2011-01-01'

### Dataframe 2011

In [54]:
df_11 = pd.read_csv ("../Data/top_100_Billboard_2011.csv")

In [55]:
df_11.iloc[0]['date_chart']

'2011-01-01'

In [56]:
frames = [df_hits, df_11.loc[df_11["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [57]:
df_hits = pd.concat(frames)

In [58]:
df_hits.iloc[-1]['date_chart']

'2011-12-31'

### Dataframe 2012

In [59]:
df_12 = pd.read_csv ("../Data/top_100_Billboard_2012.csv")

In [60]:
df_12.iloc[0]['date_chart']

'2012-01-07'

In [61]:
frames = [df_hits, df_12.loc[df_12["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [62]:
df_hits = pd.concat(frames)

In [63]:
df_hits.iloc[-1]['date_chart']

'2013-01-05'

### Dataframe 2013

In [64]:
df_13 = pd.read_csv ("../Data/top_100_Billboard_2013.csv")

In [65]:
df_13.iloc[0]['date_chart']

'2013-01-05'

In [66]:
frames = [df_hits, df_13.loc[df_13["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [67]:
df_hits = pd.concat(frames)

In [68]:
df_hits.iloc[-1]['date_chart']

'2014-01-04'

### Dataframe 2014

In [69]:
df_14 = pd.read_csv ("../Data/top_100_Billboard_2014.csv")

In [70]:
df_14.iloc[0]['date_chart']

'2014-01-04'

In [71]:
frames = [df_hits, df_14.loc[df_14["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [72]:
df_hits = pd.concat(frames)

In [73]:
df_hits.iloc[-1]['date_chart']

'2015-01-03'

### Dataframe 2015

In [74]:
df_15 = pd.read_csv ("../Data/top_100_Billboard_2015.csv")

In [75]:
df_15.iloc[0]['date_chart']

'2015-01-03'

In [76]:
frames = [df_hits, df_15.loc[df_15["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [77]:
df_hits = pd.concat(frames)

In [78]:
df_hits.iloc[-1]['date_chart']

'2016-01-02'

### Dataframe 2016

In [79]:
df_16 = pd.read_csv ("../Data/top_100_Billboard_2016.csv")

In [80]:
df_16.iloc[0]['date_chart']

'2016-01-02'

In [81]:
frames = [df_hits, df_16.loc[df_16["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [82]:
df_hits = pd.concat(frames)

In [83]:
df_hits.iloc[-1]['date_chart']

'2016-12-31'

### Dataframe 2017

In [84]:
df_17 = pd.read_csv ("../Data/top_100_Billboard_2017.csv")

In [85]:
df_17.iloc[0]['date_chart']

'2017-01-07'

In [86]:
frames = [df_hits, df_17.loc[df_17["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [87]:
df_hits = pd.concat(frames)

In [88]:
df_hits.iloc[-1]['date_chart']

'2018-01-03'

### Dataframe 2018

In [89]:
df_18 = pd.read_csv ("../Data/top_100_Billboard_2018.csv")

In [90]:
df_18.iloc[0]['date_chart']

'2018-01-03'

In [91]:
frames = [df_hits, df_18.loc[df_18["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [92]:
df_hits = pd.concat(frames)

In [93]:
df_hits.iloc[-1]['date_chart']

'2019-01-05'

### Dataframe 2019

In [94]:
df_19 = pd.read_csv ("../Data/top_100_Billboard_2019.csv")

In [95]:
df_19.iloc[0]['date_chart']

'2019-01-05'

In [96]:
frames = [df_hits, df_19.loc[df_19["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [97]:
df_hits = pd.concat(frames)

In [98]:
df_hits.iloc[-1]['date_chart']

'2020-01-04'

### Dataframe 2020

In [99]:
df_20 = pd.read_csv ("../Data/top_100_Billboard_2020.csv")

In [100]:
df_20.iloc[0]['date_chart']

'2020-01-04'

In [101]:
frames = [df_hits, df_20.loc[df_20["date_chart"] > df_hits.iloc[-1]['date_chart']]]

In [102]:
df_hits = pd.concat(frames)

In [103]:
df_hits.iloc[-1]['date_chart']

'2020-07-04'

### Dataframe is saved in CSV

In [104]:
df_hits.to_csv ("../Data/top_100_Billboard_2000_2020.csv", index = False, header=True)