#  Data Hits Fusion

En este notebook se fusionaran todos los datasets obtenidos siguiendo la metodologia del notebook 1_data_hits_extraction.

El proceso llevado a cabo es el siguiente:

Primer dataset
1. Se lee el dataset
2. Comprobamos que la fecha del ultimo elemento corresponde con el año del que hemos cargado el dataset.

Se repite el siguiente proceso hasta 2020:
1. Se lee el dataset
2. se comprueba fecha del dataset del primer elemento para verificar que nos encontramos en el año correcto
3. concatenamos el dataset con el previo, filtrando el nuevo con fechas superiores del ultimo elemento del anterior para evitar duplicidades
4. Verificamos que el ultimo elemento del dataframe fusión, concuerda con la del ultimo año añadido

In [1]:
import pandas as pd
import numpy as np

## Dataframe 1958

In [2]:
df_58 = pd.read_csv ("../Data/top_100_Billboard_1958.csv")

In [3]:
df_58.iloc[-1]['date_chart']

'1959-01-05'

## Dataframe 1959

In [4]:
df_59 = pd.read_csv ("../Data/top_100_Billboard_1959.csv")

In [5]:
df_59.iloc[0]['date_chart']

'1959-01-05'

In [6]:
frames = [df_58, df_59.loc[df_59["date_chart"] > df_58.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [7]:
df_hits.iloc[-1]['date_chart']

'1960-01-04'

## Dataframe 1960

In [8]:
df_60 = pd.read_csv ("../Data/top_100_Billboard_1960.csv")

In [9]:
df_60.iloc[0]['date_chart']

'1960-01-04'

In [10]:
frames = [df_hits, df_60.loc[df_60["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [11]:
df_hits.iloc[-1]['date_chart']

'1961-01-02'

## Dataframe 1961

In [12]:
df_61 = pd.read_csv ("../Data/top_100_Billboard_1961.csv")

In [13]:
df_61.iloc[0]['date_chart']

'1961-01-02'

In [14]:
frames = [df_hits, df_61.loc[df_61["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [15]:
df_hits.iloc[-1]['date_chart']

'1962-01-06'

## Dataframe 1962

In [16]:
df_62 = pd.read_csv ("../Data/top_100_Billboard_1962.csv")

In [17]:
df_62.iloc[0]['date_chart']

'1962-01-06'

In [18]:
frames = [df_hits, df_62.loc[df_62["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [19]:
df_hits.iloc[-1]['date_chart']

'1963-01-05'

## Dataframe 1963

In [20]:
df_63 = pd.read_csv ("../Data/top_100_Billboard_1963.csv")

In [21]:
df_63.iloc[0]['date_chart']

'1963-01-05'

In [22]:
frames = [df_hits, df_63.loc[df_63["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [23]:
df_hits.iloc[-1]['date_chart']

'1964-01-04'

## Dataframe 1964

In [24]:
df_64 = pd.read_csv ("../Data/top_100_Billboard_1964.csv")

In [25]:
df_64.iloc[0]['date_chart']

'1964-01-04'

In [26]:
frames = [df_hits, df_64.loc[df_64["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [27]:
df_hits.iloc[-1]['date_chart']

'1965-01-02'

## Dataframe 1965

In [28]:
df_65 = pd.read_csv ("../Data/top_100_Billboard_1965.csv")

In [29]:
df_65.iloc[0]['date_chart']

'1965-01-02'

In [30]:
frames = [df_hits, df_65.loc[df_65["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [31]:
df_hits.iloc[-1]['date_chart']

'1966-01-01'

## Dataframe 1966

In [32]:
df_66 = pd.read_csv ("../Data/top_100_Billboard_1966.csv")

In [33]:
df_66.iloc[0]['date_chart']

'1966-01-01'

In [34]:
frames = [df_hits, df_66.loc[df_66["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [35]:
df_hits.iloc[-1]['date_chart']

'1966-12-31'

## Dataframe 1967

In [36]:
df_67 = pd.read_csv ("../Data/top_100_Billboard_1967.csv")

In [37]:
df_67.iloc[0]['date_chart']

'1967-01-07'

In [38]:
frames = [df_hits, df_67.loc[df_67["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [39]:
df_hits.iloc[-1]['date_chart']

'1968-01-06'

## Dataframe 1968

In [40]:
df_68 = pd.read_csv ("../Data/top_100_Billboard_1968.csv")

In [41]:
df_68.iloc[0]['date_chart']

'1968-01-06'

In [42]:
frames = [df_hits, df_68.loc[df_68["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [43]:
df_hits.iloc[-1]['date_chart']

'1969-01-04'

## Dataframe 1969

In [44]:
df_69 = pd.read_csv ("../Data/top_100_Billboard_1969.csv")

In [45]:
df_69.iloc[0]['date_chart']

'1969-01-04'

In [46]:
frames = [df_hits, df_69.loc[df_69["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [47]:
df_hits.iloc[-1]['date_chart']

'1970-01-03'

## Dataframe 1970

In [48]:
df_70 = pd.read_csv ("../Data/top_100_Billboard_1970.csv")

In [49]:
df_70.iloc[0]['date_chart']

'1970-01-03'

In [50]:
frames = [df_hits, df_70.loc[df_70["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [51]:
df_hits.iloc[-1]['date_chart']

'1971-01-02'

## Dataframe 1971

In [52]:
df_71 = pd.read_csv ("../Data/top_100_Billboard_1971.csv")

In [53]:
df_71.iloc[0]['date_chart']

'1971-01-02'

In [54]:
frames = [df_hits, df_71.loc[df_71["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [55]:
df_hits.iloc[-1]['date_chart']

'1972-01-01'

## Dataframe 1972

In [56]:
df_72 = pd.read_csv ("../Data/top_100_Billboard_1972.csv")

In [57]:
df_72.iloc[0]['date_chart']

'1972-01-01'

In [58]:
frames = [df_hits, df_72.loc[df_72["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [59]:
df_hits.iloc[-1]['date_chart']

'1972-12-30'

## Dataframe 1973

In [60]:
df_73 = pd.read_csv ("../Data/top_100_Billboard_1973.csv")

In [61]:
df_73.iloc[0]['date_chart']

'1973-01-06'

In [62]:
frames = [df_hits, df_73.loc[df_73["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [63]:
df_hits.iloc[-1]['date_chart']

'1974-01-05'

## Dataframe 1974

In [64]:
df_74 = pd.read_csv ("../Data/top_100_Billboard_1974.csv")

In [65]:
df_74.iloc[0]['date_chart']

'1974-01-05'

In [66]:
frames = [df_hits, df_74.loc[df_74["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [67]:
df_hits.iloc[-1]['date_chart']

'1975-01-04'

## Dataframe 1975

In [68]:
df_75 = pd.read_csv ("../Data/top_100_Billboard_1975.csv")

In [69]:
df_75.iloc[0]['date_chart']

'1975-01-04'

In [70]:
frames = [df_hits, df_75.loc[df_75["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [71]:
df_hits.iloc[-1]['date_chart']

'1976-01-03'

## Dataframe 1976

In [72]:
df_76 = pd.read_csv ("../Data/top_100_Billboard_1976.csv")

In [73]:
df_76.iloc[0]['date_chart']

'1976-01-03'

In [74]:
frames = [df_hits, df_76.loc[df_76["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [75]:
df_hits.iloc[-1]['date_chart']

'1977-01-01'

## Dataframe 1977

In [76]:
df_77 = pd.read_csv ("../Data/top_100_Billboard_1977.csv")

In [77]:
df_77.iloc[0]['date_chart']

'1977-01-01'

In [78]:
frames = [df_hits, df_77.loc[df_77["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [79]:
df_hits.iloc[-1]['date_chart']

'1977-12-31'

## Dataframe 1978

In [80]:
df_78 = pd.read_csv ("../Data/top_100_Billboard_1978.csv")

In [81]:
df_78.iloc[0]['date_chart']

'1978-01-07'

In [82]:
frames = [df_hits, df_78.loc[df_78["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [83]:
df_hits.iloc[-1]['date_chart']

'1979-01-06'

## Dataframe 1979

In [84]:
df_79 = pd.read_csv ("../Data/top_100_Billboard_1979.csv")

In [85]:
df_79.iloc[0]['date_chart']

'1979-01-06'

In [86]:
frames = [df_hits, df_79.loc[df_79["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [87]:
df_hits.iloc[-1]['date_chart']

'1980-01-05'

## Dataframe 1980

In [88]:
df_80 = pd.read_csv ("../Data/top_100_Billboard_1980.csv")

In [89]:
df_80.iloc[0]['date_chart']

'1980-01-05'

In [90]:
frames = [df_hits, df_80.loc[df_80["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [91]:
df_hits.iloc[-1]['date_chart']

'1981-01-03'

## Dataframe 1981

In [92]:
df_81 = pd.read_csv ("../Data/top_100_Billboard_1981.csv")

In [93]:
df_81.iloc[0]['date_chart']

'1981-01-03'

In [94]:
frames = [df_hits, df_81.loc[df_81["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [95]:
df_hits.iloc[-1]['date_chart']

'1982-01-02'

## Dataframe 1982

In [96]:
df_82 = pd.read_csv ("../Data/top_100_Billboard_1982.csv")

In [97]:
df_82.iloc[0]['date_chart']

'1982-01-02'

In [98]:
frames = [df_hits, df_82.loc[df_82["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [99]:
df_hits.iloc[-1]['date_chart']

'1983-01-01'

## Dataframe 1983

In [100]:
df_83 = pd.read_csv ("../Data/top_100_Billboard_1983.csv")

In [101]:
df_83.iloc[0]['date_chart']

'1983-01-01'

In [102]:
frames = [df_hits, df_83.loc[df_83["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [103]:
df_hits.iloc[-1]['date_chart']

'1983-12-31'

## Dataframe 1984

In [104]:
df_84 = pd.read_csv ("../Data/top_100_Billboard_1984.csv")

In [105]:
df_84.iloc[0]['date_chart']

'1984-01-07'

In [106]:
frames = [df_hits, df_84.loc[df_84["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [107]:
df_hits.iloc[-1]['date_chart']

'1985-01-05'

## Dataframe 1985

In [108]:
df_85 = pd.read_csv ("../Data/top_100_Billboard_1985.csv")

In [109]:
df_85.iloc[0]['date_chart']

'1985-01-05'

In [110]:
frames = [df_hits, df_85.loc[df_85["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [111]:
df_hits.iloc[-1]['date_chart']

'1986-01-04'

## Dataframe 1986

In [112]:
df_86 = pd.read_csv ("../Data/top_100_Billboard_1986.csv")

In [113]:
df_86.iloc[0]['date_chart']

'1986-01-04'

In [114]:
frames = [df_hits, df_86.loc[df_86["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [115]:
df_hits.iloc[-1]['date_chart']

'1987-01-03'

## Dataframe 1987

In [116]:
df_87 = pd.read_csv ("../Data/top_100_Billboard_1987.csv")

In [117]:
df_87.iloc[0]['date_chart']

'1987-01-03'

In [118]:
frames = [df_hits, df_87.loc[df_87["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [119]:
df_hits.iloc[-1]['date_chart']

'1988-01-02'

## Dataframe 1988

In [120]:
df_88 = pd.read_csv ("../Data/top_100_Billboard_1988.csv")

In [121]:
df_88.iloc[0]['date_chart']

'1988-01-02'

In [122]:
frames = [df_hits, df_88.loc[df_88["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [123]:
df_hits.iloc[-1]['date_chart']

'1988-12-31'

## Dataframe 1989

In [124]:
df_89 = pd.read_csv ("../Data/top_100_Billboard_1989.csv")

In [125]:
df_89.iloc[0]['date_chart']

'1989-01-07'

In [126]:
frames = [df_hits, df_89.loc[df_89["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [127]:
df_hits.iloc[-1]['date_chart']

'1990-01-06'

## Dataframe 1990

In [128]:
df_90 = pd.read_csv ("../Data/top_100_Billboard_1990.csv")

In [129]:
df_90.iloc[0]['date_chart']

'1990-01-06'

In [130]:
frames = [df_hits, df_90.loc[df_90["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [131]:
df_hits.iloc[-1]['date_chart']

'1991-01-05'

## Dataframe 1991

In [132]:
df_91 = pd.read_csv ("../Data/top_100_Billboard_1991.csv")

In [133]:
df_91.iloc[0]['date_chart']

'1991-01-05'

In [134]:
frames = [df_hits, df_91.loc[df_91["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [135]:
df_hits.iloc[-1]['date_chart']

'1992-01-04'

## Dataframe 1992

In [136]:
df_92 = pd.read_csv ("../Data/top_100_Billboard_1992.csv")

In [137]:
df_92.iloc[0]['date_chart']

'1992-01-04'

In [138]:
frames = [df_hits, df_92.loc[df_92["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [139]:
df_hits.iloc[-1]['date_chart']

'1993-01-02'

## Dataframe 1993

In [140]:
df_93 = pd.read_csv ("../Data/top_100_Billboard_1993.csv")

In [141]:
df_93.iloc[0]['date_chart']

'1993-01-02'

In [142]:
frames = [df_hits, df_93.loc[df_93["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [143]:
df_hits.iloc[-1]['date_chart']

'1994-01-01'

## Dataframe 1994

In [144]:
df_94 = pd.read_csv ("../Data/top_100_Billboard_1994.csv")

In [145]:
df_94.iloc[0]['date_chart']

'1994-01-01'

In [146]:
frames = [df_hits, df_94.loc[df_94["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [147]:
df_hits.iloc[-1]['date_chart']

'1994-12-31'

## Dataframe 1995

In [148]:
df_95 = pd.read_csv ("../Data/top_100_Billboard_1995.csv")

In [149]:
df_95.iloc[0]['date_chart']

'1995-01-07'

In [150]:
frames = [df_hits, df_95.loc[df_95["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [151]:
df_hits.iloc[-1]['date_chart']

'1996-01-06'

## Dataframe 1996

In [152]:
df_96 = pd.read_csv ("../Data/top_100_Billboard_1996.csv")

In [153]:
df_96.iloc[0]['date_chart']

'1996-01-06'

In [154]:
frames = [df_hits, df_96.loc[df_96["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [155]:
df_hits.iloc[-1]['date_chart']

'1997-01-04'

## Dataframe 1997

In [156]:
df_97 = pd.read_csv ("../Data/top_100_Billboard_1997.csv")

In [157]:
df_97.iloc[0]['date_chart']

'1997-01-04'

In [158]:
frames = [df_hits, df_97.loc[df_97["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [159]:
df_hits.iloc[-1]['date_chart']

'1998-01-03'

## Dataframe 1998

In [160]:
df_98 = pd.read_csv ("../Data/top_100_Billboard_1998.csv")

In [161]:
df_98.iloc[0]['date_chart']

'1998-01-03'

In [162]:
frames = [df_hits, df_98.loc[df_98["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [163]:
df_hits.iloc[-1]['date_chart']

'1999-01-02'

## Dataframe 1999

In [164]:
df_99 = pd.read_csv ("../Data/top_100_Billboard_1999.csv")

In [165]:
df_99.iloc[0]['date_chart']

'1999-01-02'

In [166]:
frames = [df_hits, df_99.loc[df_99["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [167]:
df_hits.iloc[-1]['date_chart']

'2000-01-01'

## Dataframe 2000

In [168]:
df_00 = pd.read_csv ("../Data/top_100_Billboard_2000.csv")

In [169]:
df_00.iloc[0]['date_chart']

'2000-01-01'

In [170]:
frames = [df_hits, df_00.loc[df_00["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [171]:
df_hits.iloc[-1]['date_chart']

'2000-12-30'

### Dataframe 2001

In [172]:
df_01 = pd.read_csv ("../Data/top_100_Billboard_2001.csv")

In [173]:
df_01.iloc[0]['date_chart']

'2001-01-06'

In [174]:
frames = [df_hits, df_01.loc[df_01["date_chart"] > df_00.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [175]:
df_hits.iloc[-1]['date_chart']

'2002-01-05'

### Dataframe 2002

In [176]:
df_02 = pd.read_csv ("../Data/top_100_Billboard_2002.csv")

In [177]:
df_02.iloc[0]['date_chart']

'2002-01-05'

In [178]:
frames = [df_hits, df_02.loc[df_02["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [179]:
df_hits.iloc[-1]['date_chart']

'2003-01-04'

## Dataframe 2003

In [180]:
df_03 = pd.read_csv ("../Data/top_100_Billboard_2003.csv")

In [181]:
df_03.iloc[0]['date_chart']

'2003-01-04'

In [182]:
frames = [df_hits, df_03.loc[df_03["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [183]:
df_hits.iloc[-1]['date_chart']

'2004-01-03'

### Dataframe 2004

In [184]:
df_04 = pd.read_csv ("../Data/top_100_Billboard_2004.csv")

In [185]:
df_04.iloc[0]['date_chart']

'2004-01-03'

In [186]:
frames = [df_hits, df_04.loc[df_04["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [187]:
df_hits.iloc[-1]['date_chart']

'2005-01-01'

### Dataframe 2005

In [188]:
df_05 = pd.read_csv ("../Data/top_100_Billboard_2005.csv")

In [189]:
df_05.iloc[0]['date_chart']

'2005-01-01'

In [190]:
frames = [df_hits, df_05.loc[df_05["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [191]:
df_hits.iloc[-1]['date_chart']

'2005-12-31'

### Dataframe 2006

In [192]:
df_06 = pd.read_csv ("../Data/top_100_Billboard_2006.csv")

In [193]:
df_06.iloc[0]['date_chart']

'2006-01-07'

In [194]:
frames = [df_hits, df_06.loc[df_06["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [195]:
df_hits.iloc[-1]['date_chart']

'2007-01-06'

### Dataframe 2007

In [196]:
df_07 = pd.read_csv ("../Data/top_100_Billboard_2007.csv")

In [197]:
df_07.iloc[0]['date_chart']

'2007-01-06'

In [198]:
frames = [df_hits, df_07.loc[df_07["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [199]:
df_hits.iloc[-1]['date_chart']

'2008-01-05'

### Dataframe 2008

In [200]:
df_08 = pd.read_csv ("../Data/top_100_Billboard_2008.csv")

In [201]:
df_08.iloc[0]['date_chart']

'2008-01-05'

In [202]:
frames = [df_hits, df_08.loc[df_08["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [203]:
df_hits.iloc[-1]['date_chart']

'2009-01-03'

### Dataframe 2009

In [204]:
df_09 = pd.read_csv ("../Data/top_100_Billboard_2009.csv")

In [205]:
df_09.iloc[0]['date_chart']

'2009-01-03'

In [206]:
frames = [df_hits, df_09.loc[df_09["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [207]:
df_hits.iloc[-1]['date_chart']

'2010-01-02'

### Dataframe 2010

In [208]:
df_10 = pd.read_csv ("../Data/top_100_Billboard_2010.csv")

In [209]:
df_10.iloc[0]['date_chart']

'2010-01-02'

In [210]:
frames = [df_hits, df_10.loc[df_10["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [211]:
df_hits.iloc[-1]['date_chart']

'2011-01-01'

### Dataframe 2011

In [212]:
df_11 = pd.read_csv ("../Data/top_100_Billboard_2011.csv")

In [213]:
df_11.iloc[0]['date_chart']

'2011-01-01'

In [214]:
frames = [df_hits, df_11.loc[df_11["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [215]:
df_hits.iloc[-1]['date_chart']

'2011-12-31'

### Dataframe 2012

In [216]:
df_12 = pd.read_csv ("../Data/top_100_Billboard_2012.csv")

In [217]:
df_12.iloc[0]['date_chart']

'2012-01-07'

In [218]:
frames = [df_hits, df_12.loc[df_12["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [219]:
df_hits.iloc[-1]['date_chart']

'2013-01-05'

### Dataframe 2013

In [220]:
df_13 = pd.read_csv ("../Data/top_100_Billboard_2013.csv")

In [221]:
df_13.iloc[0]['date_chart']

'2013-01-05'

In [222]:
frames = [df_hits, df_13.loc[df_13["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [223]:
df_hits.iloc[-1]['date_chart']

'2014-01-04'

### Dataframe 2014

In [224]:
df_14 = pd.read_csv ("../Data/top_100_Billboard_2014.csv")

In [225]:
df_14.iloc[0]['date_chart']

'2014-01-04'

In [226]:
frames = [df_hits, df_14.loc[df_14["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [227]:
df_hits.iloc[-1]['date_chart']

'2015-01-03'

### Dataframe 2015

In [228]:
df_15 = pd.read_csv ("../Data/top_100_Billboard_2015.csv")

In [229]:
df_15.iloc[0]['date_chart']

'2015-01-03'

In [230]:
frames = [df_hits, df_15.loc[df_15["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [231]:
df_hits.iloc[-1]['date_chart']

'2016-01-02'

### Dataframe 2016

In [232]:
df_16 = pd.read_csv ("../Data/top_100_Billboard_2016.csv")

In [233]:
df_16.iloc[0]['date_chart']

'2016-01-02'

In [234]:
frames = [df_hits, df_16.loc[df_16["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [235]:
df_hits.iloc[-1]['date_chart']

'2016-12-31'

### Dataframe 2017

In [236]:
df_17 = pd.read_csv ("../Data/top_100_Billboard_2017.csv")

In [237]:
df_17.iloc[0]['date_chart']

'2017-01-07'

In [238]:
frames = [df_hits, df_17.loc[df_17["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [239]:
df_hits.iloc[-1]['date_chart']

'2018-01-03'

### Dataframe 2018

In [240]:
df_18 = pd.read_csv ("../Data/top_100_Billboard_2018.csv")

In [241]:
df_18.iloc[0]['date_chart']

'2018-01-03'

In [242]:
frames = [df_hits, df_18.loc[df_18["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [243]:
df_hits.iloc[-1]['date_chart']

'2019-01-05'

### Dataframe 2019

In [244]:
df_19 = pd.read_csv ("../Data/top_100_Billboard_2019.csv")

In [245]:
df_19.iloc[0]['date_chart']

'2019-01-05'

In [246]:
frames = [df_hits, df_19.loc[df_19["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [247]:
df_hits.iloc[-1]['date_chart']

'2020-01-04'

### Dataframe 2020

In [248]:
df_20 = pd.read_csv ("../Data/top_100_Billboard_2020.csv")

In [249]:
df_20.iloc[0]['date_chart']

'2020-01-04'

In [250]:
frames = [df_hits, df_20.loc[df_20["date_chart"] > df_hits.iloc[-1]['date_chart']]]
df_hits = pd.concat(frames)

In [251]:
df_hits.iloc[-1]['date_chart']

'2020-08-08'

Ciertas canciones extraidas no son validas, ya que existe la cancion encontrada pertenece a un karaoke de la original, es por ello que lo descartamos

In [252]:
df_hits = df_hits.reset_index(drop=True)

In [253]:
df_hits = df_hits.drop (df_hits[df_hits['title'].str.contains('Karaoke')].index)
df_hits = df_hits.drop (df_hits[df_hits['artist'].str.contains('Karaoke')].index)
df_hits = df_hits.drop (df_hits[df_hits['title'].str.contains('karaoke')].index)
df_hits = df_hits.reset_index(drop=True)

In [254]:
df_hits = df_hits.drop(df_hits[df_hits['title'].str.contains('- Live')].index)
df_hits = df_hits.reset_index(drop=True)
df_hits = df_hits.drop(df_hits[df_hits['title'].str.contains('- live')].index)
df_hits = df_hits.reset_index(drop=True)

### Se guarda Dataframe

In [265]:
df_hits.to_csv ("../Data/top_100_Billboard_1958_2020.csv", index = False, header=True)